[package]
name = "kissmp-server"
version = "0.1.0"
authors = ["hellbox"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.7.3"
serde_json="1.0"
bincode="1.3.1"
rmp="0.8.9"
rmp-serde="0.14.4"
futures = "0.3.5"
quinn = "0.6.1"
anyhow = "1.0.32"
rlua = "0.17.0"
tokio-util = {version = "0.3.1", features = ["codec"]}
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.10.8", default-features = false, features=["rustls-tls"] }
rcgen = { version = "0.8.2", default-features = false }
tokio = { version = "0.2.22", features = ["rt-threaded", "time", "macros", "stream", "sync", "tcp", "io-util", "io-std"] }
